.GrandContainer {
    display: grid;
    width:100%;
    min-height: 800px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 2fr ;
    border: black solid;
    
}



.dashBoard {
    grid-row: 1/-1;
    grid-column: span 1;
    min-height: 300px;
    border: red solid;
    background-color: #1992d4;
    display: flex;
    flex-direction: column;
    gap: 3%;
    

}


.dashBoard>div  {
    border: white solid;

}

.dashBoard>div:nth-child(2)>ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.dashBoard>div:nth-child(3)>ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.dashBoard>div:nth-child(2)>ul>li{
    color: white;
    list-style-type: none;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: bold;
}


.dashBoard>div:nth-child(3)>ul>li{
    color: white;
    list-style-type: none;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: bold;
}

.dashBoard>div:nth-child(2)>ul>li:nth-child(1)::before{
    content: url('home-1391-svgrepo-com.svg');
    padding-right: 10px;
   vertical-align: middle;
  
}


.dashBoard>div:nth-child(3)>ul>li:nth-child(1)::before{
    content: url('setting-svgrepo-com.svg');
    padding-right: 10px;
   vertical-align: middle;
  
}


.dashBoard>div:nth-child(2)>ul>li:nth-child(2)::before{
    content: url('profile-svgrepo-com.svg');
    padding-right: 10px;
    vertical-align: middle;
    
   
  
}

.dashBoard>div:nth-child(3)>ul>li:nth-child(2)::before{
    content: url('circle-help-svgrepo-com.svg');
    padding-right: 10px;
    vertical-align: middle;
    
   
  
}

.dashBoard>div:nth-child(2)>ul>li:nth-child(3)::before{
    content: url('messages-3-svgrepo-com.svg');
    padding-right: 10px;
    vertical-align: middle;
}

.dashBoard>div:nth-child(3)>ul>li:nth-child(3)::before{
    content: url('privacy-tips-svgrepo-com.svg');
    padding-right: 10px;
    vertical-align: middle;
}

.dashBoard>div:nth-child(2)>ul>li:nth-child(4)::before{
    content: url('history-round-svgrepo-com.svg');
    padding-right: 10px;
    vertical-align: middle;
}

.dashBoard>div:nth-child(2)>ul>li:nth-child(5)::before{
    content: url('tasks-list-svgrepo-com.svg');
    padding-right: 10px;
    vertical-align: middle;
}

.dashBoard>div:nth-child(2)>ul>li:nth-child(6)::before{
    content: url('people-community-svgrepo-com.svg');
    padding-right: 10px;
    vertical-align: middle;
}


.dashBoard>div:nth-child(1){
    height: max(5%, 50px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: black solid;
    padding-top: 3%;

}

.svgDashboard {
    width: 50px;
    height: 50px;
}

.DashboardLogo {
    font-size: 30px;
    color: white;
    font-weight: bold;
    
}

.header {
    display: grid;
    grid-row: span 1;
    grid-column: 2/-1;
    border: green solid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    overflow: auto;
}

.projects {
    grid-column: 2/3;
    grid-row: 2/-1;
    border: orange solid;
    background-color: #e2e8f0;
    display: flex;
    flex-direction: column;
}

.projects>* {
    border: black solid;
}
.projects>div{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    }

.card {
    height: 200px;
    width: 400px;
    border-radius: 12px;
    /*border: blue solid;*/
    border: 0%;
    background-color: #f0b429;
    display: grid;
    grid-template-columns: 2fr 98fr;
    grid-template-rows: 1fr;
    box-shadow: black;
    box-shadow: 30%;

}

.card>div {
    grid-column: 2/-1;
    background-color: white;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 3%;

}

.card>div>p {
    min-width: 90%;
    min-height: 50%;
    border: black solid;
}

.card>div>div  {
    min-width: 90%;
    min-height: 10%;

    text-align: end;
    

}

.card>div>div>ul{
    margin-top: 0%;
    padding-top: 0%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 2%;
    padding-right: 3%;
}

.card>div>div>ul>li:nth-child(1){
    
    content: url('add-to-favourites-svgrepo-com.svg');
    vertical-align: middle;

}




.card>div>div>ul>li:nth-child(2){
    
    content: url('view-filled-svgrepo-com.svg');
    vertical-align: middle;
}



.card>div>div>ul>li:nth-child(3){
    
    content: url('share-network-multimedia-svgrepo-com.svg');
    vertical-align: middle;
}
/*333333*/

.announcement {
    grid-row: 2/3;
    grid-column: 3/-1;
    border:brown solid;
}

.trending{
    grid-column: 3/-1;
    grid-row: 3/-1;
    border: blue solid;
}

.searchBar {
    display: flex;
    grid-column: span 1;
    grid-row: span 1;
    border: blue solid;
    justify-content: flex-start;
    padding-left: 2%;
    align-items: center;
}

.svgSearch {
    background-color: white;
    height: 20px;
    width: 20px;
    
}

.searchButton {
    
    height: 20px;
    width: 20px;
    padding: 0%;
    background-color: white;
    border: 0px;
    margin-right: 15px;
    align-items: end;
}

.searchButton:hover{
    height: 25px;
    width: 25px;
}

.profileName {
    grid-column: span 1;
    grid-row: 2/3;
    border:red solid;
    display: flex;
    flex-direction:row;
    gap: 15px;
    padding: 0%;
    
}

.profileName>div {
    border: black solid;
}
.profileText {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.profilePic {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    overflow: auto;
    margin: 20px;
    border: 0px;
    background-color: #e2e8f0;
}

.buttonNew {
    
    grid-column: 2/ span 1;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-left: 10px;
    padding-right: 10px;
}
.buttonUpload {
    grid-column: 3/ span 1;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-left: 10px;
    padding-right: 10px;
}
.buttonShare {
    grid-column: 4/ span 1;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-left: 10px;
    padding-right: 10px;
}

.buttonNew>button {
    background-color: #1992d4;
    border: 0px;
    color: white;
    font-weight: bold;
    height: 40px;
    width: 5rem;
    margin-bottom: 10%;
    border-radius: 20px;
    align-self: center;
}
.buttonUpload>button {
    background-color: #1992d4;
    border: 0px;
    color: white;
    font-weight: bold;
    height: 40px;
    width: 5rem;
    margin-bottom: 10%;
    border-radius: 20px;
    align-self: center;
}
.buttonShare >button {
    background-color: #1992d4;
    border: 0px;
    color: white;
    font-weight: bold;
    height: 40px;
    width: 5rem;
    margin-bottom: 10%;
    border-radius: 20px;
    align-self: center;
}

.headerInput{
    width: 70%;
    height: 25px;
    border-radius: 25px;
    background-color: #e2e8f0;
    border: 0px;
}
.svgSearch {
    height: 100%;
    width: 100%;
}

.profile2 {
    grid-column: 2/-1;
    grid-row: 1/2;
    border: yellow solid;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: max(3%,15px);
}

.profile2>.profilePic {
    width: 50px;
    height: 50px;
}

.profile2>.profileName {
    min-width: max(40%, 50px);
    height: 50px;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}
.svgBell {
    height: 25px;
    width: 25px;
}
