.GrandContainer {
    display: grid;
    width:100%;
    min-height: 800px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 2fr ;
    border: black solid;
    
}



.dashBoard {
    grid-row: 1/-1;
    grid-column: span 1;
    min-height: 300px;
    border: red solid;
}

.header {
    grid-row: span 1;
    grid-column: 2/-1;
    border: green solid;
}

.projects {
    grid-column: 2/3;
    grid-row: 2/-1;
    border: orange solid;
}
.announcement {
    grid-row: 2/3;
    grid-column: 3/-1;
    border:brown solid;
}

.trending{
    grid-column: 3/-1;
    grid-row: 3/-1;
    border: blue solid;
}